@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: #fff;
  --foreground: #171717;
  /* CSS HEX */
  --barn-red: #780000ff;
  --fire-brick: #c1121fff;
  --papaya-whip: #fdf0d5ff;
  --prussian-blue: #003049ff;
  --air-superiority-blue: #669bbcff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
